language: node_js
node_js:
- 11.10.1
cache: yarn

before_script :
 - curl -o- -L https://yarnpkg.com/install.sh | bash -s
 - export PATH=$HOME/.yarn/bin:$PATH
 - yarn install

script:
  - yarn run build