body{
    font-family:Verdana, Geneva, sans-serif;
}

.parent-div-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.news-feed-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.news-feed-header {
    width: 100%;
    height: 1.5em;
    justify-content: center;
    background-color: #ff6600;
}
.header-label {
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
}
.td-cloumn-width {
    width: 4.5em;
}
.td-header-cloumn-width {
    width: 4.8em;
}
.comments-span {
    font-size: 0.8rem;
    color: black;
    font-weight: 700;
}
.vote-span {
    font-size: 0.8rem;
    color: black;
    font-weight: 700;
}
.news-details-span {
    font-size: 0.9rem;
    color: black;
}
.up-arrow-icon {
    width: 0.5em;
    height: 0.5em;
}
.news-url-span {
    font-size: 0.65rem;
    color: #7a7979;
    margin-left: 1em;
}
.news-left-bracket {
    font-size: 0.65rem;
    color: #7a7979;
    margin-left: 1em;
}
.news-hide-label {
    font-size: 0.65rem;
    color: #000000;
    margin-left: 0.5em;
}
.news-right-bracket {
    font-size: 0.65rem;
    color: #7a7979;
    margin-left: 0.5em;
}
.news-author-span {
    font-size: 0.65rem;
    color: #000000;
    margin-left: 1em;
}
.news-time-span {
    font-size: 0.65rem;
    color: #7a7979;
    margin-left: 1em;
}